/mobileTest/h5test2/page/components/edit-company
/mobileTest/h5test2/page/components/home
/mobileTest/h5test2/page/components/left-nav
/mobileTest/h5test2/page/components/loading
/mobileTest/h5test2/page/components/manage-machine
/mobileTest/h5test2/page/components/project-manage
/mobileTest/h5test2/page/components/scheduling
/mobileTest/h5test2/page/components/sign
/mobileTest/h5test2/page/components/bottom-choose
/mobileTest/h5test2/page/components/config-network
/mobileTest/h5test3/node_modules
/test/VueProjectTest/node_modules
