$z-index0: 1000;
$z-index1: 1010;
$z-index2: 1020;
$z-index3: 1030;
$z-index4: 1040;
$z-index5: 1050;
$z-index6: 1060;
$z-index7: 1070;
$z-index8: 1080;
$z-index9: 1090;
$main-blue: #2963d8;
body, ul, ol, li, p, img, h1, h2, h3, h4, h5, h6, input, form, button {
  padding: 0;
  margin: 0;
  list-style: none;
  border: none;
  zoom: 1;
}
html,body{
    -webkit-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
    font-size: 0.28rem;
    background-color: #f6f7f9;
}
::-webkit-input-placeholder {
    color: #bfbfbf;
    font-family: helvetica neue, tahoma, arial, hiragino sans gb, microsoft yahei, sans-serif;
}
em{
    font-style: normal;
}
img{
  vertical-align: top;
  border:0;
}
a,input, i, ul, li, div{
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  outline: none;
}
a {
    cursor: pointer;
    color: #333;
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
}


//1px左竖线
.left-thin-line{
    background: -webkit-linear-gradient(left, transparent 50%, #f1f3f6 50%) no-repeat top left;
    background-size: 1px 100%;
}

//1px下横线
.bottom-thin-line-t{
    background: -webkit-linear-gradient(top, #f1f3f6 50%, transparent 50%) no-repeat bottom left;
    background-size: 100% 1px;
}
.bottom-thin-line-b{
    background: -webkit-linear-gradient(top, transparent 50%, #f1f3f6 50%) no-repeat bottom left;
    background-size: 100% 1px;
}

//1px上横线
.top-thin-line-t{
    background: -webkit-linear-gradient(top, #f1f3f6 50%, transparent 50%) no-repeat top left;
    background-size: 100% 1px;
}
.top-thin-line-b{
    background: -webkit-linear-gradient(top, transparent 50%, #f1f3f6 50%) no-repeat top left;
    background-size: 100% 1px;
}

.thin-border{
    position: relative;
    border:none;
}
.thin-border:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border: 0.01rem solid #878f9d;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 200%;
    height: 200%;
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-border-radius: 0.7rem;
    -moz-border-radius: 0.7rem;
    -o-border-radius: 0.7rem;
    border-radius: 0.7rem;
}

.left{
  float: left;
}

.right{
  float: right;
}

.toast {
    font-size:14px;
    display: block;
    z-index: $z-index9;
    position: fixed;
    top: 55%;
    left: 50%;
    width: 320px;
    margin-left: -160px;
    color: #fff;
    border-radius: 5px;
    text-align: center;
}
.toast span {
    border-radius: 5px;
    background: rgba(0, 0, 0, .7);
    display: inline-block;
    max-width: 228px;
    padding: 10px 15px;
    word-break: break-all;
}

.btn-green{
    display: block;
    width: 6.90rem;
    height: 0.98rem;
    line-height: 0.98rem;
    background-color: #1aad19;
    font-size: 0.30rem;
    text-align: center;
    border-radius: 0.10rem;
    color: #fff;
    margin: 0rem auto 0;
    &:active{
        background-color: #0ba20a;
    }
    &.disabled{
        background-color: #bfc3ca;
    }
}

//列表点击态
.hover:active{
    background-color: #f5f5f5;
}

//css3仿ios绿色滑动开关
.green-switch{
    width: 48px;
    height: 28px;
    border-radius: 16px;
    background-color: #ccc;
    position: relative;
    -webkit-transition: all 0.15s ease-in-out;
    transition: all 0.15s ease-in-out;
    -webkit-tap-highlight-color: transparent;
    -webkit-appearance: none;
    & .white-btn{
        width: 24px;
        height: 24px;
        border-radius: 50%;
        background-color: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 2px;
        margin: auto;
        -webkit-transition: all 0.15s ease-in;
        transition: all 0.15s ease-in;
    }
    &.active{
        background-color: #44DB5E;
        & .white-btn{
            -webkit-transform: translate3d(20px, 0, 0);
            transform: translate3d(20px, 0, 0);
        }
    }
}

.empty-tip{
    text-align: center;
    margin-top: 4rem;
    color: #999;
    font-size: 0.32rem;
}


.mt10{
    margin-top: 0.10rem;
}
.mt20{
    margin-top: 0.20rem;
}
.mt30{
    margin-top: 0.30rem;
}
.mt40{
    margin-top: 0.40rem;
}
.mt50{
    margin-top: 0.50rem;
}
.mt60{
    margin-top: 0.60rem;
}
.mt70{
    margin-top: 0.70rem;
}
.mt80{
    margin-top: 0.80rem;
}
.mt90{
    margin-top: 0.90rem;
}
.mt100{
    margin-top: 1.00rem;
}
.mt140{
    margin-top: 1.40rem;
}